@page "/todo"


<PageTitle>Assignments</PageTitle>




<div class="row">
    <div class="col-lg-9">
        <h1>To Do</h1>
    </div>
    <div class="col-lg-3 text-right">
        <a class="btn btn-success btn-sm" href="/todo/create" role="button">Create New</a>
    </div>
</div>

@if(Todos != null && Todos.Count > 0)
{
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>Assignment</th>
                <th>Pic</th>
                <th>OrderingUser</th>
                <th>UntilDate</th>
                <th>Status</th>
                <th>Eqp</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Todos)
            {
                <tr>
                    <td>@item.Assignment</td>
                    <td>@item.Pic</td>
                    <td>@item.OrderingUser</td>
                    <td>
                        @if (item.UntilDate != null)
                        {
                            @item.UntilDate.Value.ToShortDateString()
                        }
                    </td>
                    <td>@item.Status</td>
                    <td>@item.Eqp</td>
                    <td class="text-right">
                        <a class="btn btn-primary btn-sm" href="/todo/details/@item.Id" role="button">Details</a>
                        <a class="btn btn-secondary btn-sm" href="/todo/edit/@item.Id" role="button">Edit</a>
                        <button class="btn btn-danger btn-sm" @onclick="@(e => DeleteTodo(item.Id))" role="button">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



